@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #09031D;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #678DEB;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10vh;
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}
.menu .navbar ul li {
    position: relative;
    float: left;
    color: #0000;
}

form {
    max-width: 800px;
    width: 80%;
    padding: 40px;
    border: 1px solid #09031D;
    border-radius: 5px;
    background-color: #678DEB;
    border-top: 60px;
    border-bottom: 30px;
    border-left: 30px;
    border-right: 30px;
    margin-top: 40px;
    margin-left: 350px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #09031D;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    color: #0000;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #09031D;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    float: left;
}

.menu-label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
    padding: 190px;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #fffdfc;
    text-transform: uppercase;
}

.header-content p {
    font-size: 16px;
    color: #fffdfc;
    padding: 0 250px;
    margin-bottom: 25px;
}